{% extends 'base.html' %}
{% load static %}
{% load alltags %}

{% block title %}Test | Courses{% endblock title %}

{% block boot %}
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    {% endblock boot %}

{% block content %}

    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
      
      <div class="kt-pagebody">

        <div class="card" style=" border-radius:10px;background-color:rgba(242, 242, 242, 1);">

        	<div class="kt-pagetitle" style="background-color:rgba(214, 211, 237, 1);color:rgba(35, 30, 84, 1);">
		        <h5 style=" margin-left:50px;">Examinations</h5>

		    </div><!-- kt-pagetitle -->
		    <div class="cardbody  pd-20 pd-sm-40">
		    	<div class="row crow mb-5">
		    		{% for course in courses %}
		    		<a class="realc" href="{% url 'user:sections' course.id %}">
		    			<div class="examCon text-left">
		    				<div class="coursetop">
		    				{% if course.active %}
		    					<div class="preactive text-center">
		    						<div class="d-flex justify-content-center">
		    						<div class="cirgreen"></div><span class="cirgtext text-monospace">active</span>
		    					</div>
		    					</div>
		    				{% else %}
		    					<div class="preinactive">
		    						<div class="d-flex justify-content-center">
		    						<div class="cirred"></div><span class="cirrtext text-monospace">inactive</span>
		    					</div>
		    					</div>
		    				{% endif %}
		    				<div>
		    					<span class="cname text-uppercase">{{ course.name }}</span>
		    				</div>
		    				<div>
		    					<span class="ctime">{{ course.time }} {% if course.time > 1 %}mins{% else %}min{% endif %}</span>
		    				</div>
		    				</div>
			    			<div class="text-justify examdes">
		    					<span>{{ course.description }}</span>
		    				</div>
		    				
		    			</div>
		    			<div class="examlast">
		    				<span>Last Active: {% if course.last_active != None %} {{ course.last_active }} {% else %} Never {% endif %}</span>
		    			</div>
		    		</a>
		    		{% endfor %}
		    	</div>
		    <div id='preformdiv'>
		    	<button class="btn btn-default" onclick="show()">New Exam</button>
		    </div>
		    <div id="formdiv" class="formdiv" style="display: none;">
		    	<form method="POST">
		    		{% csrf_token %}
		    		<div class="d-flex formtop">
		    			<h4>Add a new Exam</h4> <button class="btn btn-default" onclick="hide()">Close</button>
		    		</div>
		    		<p>Name of Exam</p>
		    		<input class="examname" type="text" name="name" maxlength="50" required>
		    		<p>Description</p>
		    		<textarea name="description" maxlength="255" placeholder="Information that displays on the welcome page." required></textarea><br/>
		    		<p>Submit Info</p>
            <textarea name="submit" maxlength="512" id="submitdes" placeholder="Information about score that displays at the end of the exam."></textarea><br/>
		    		<div class="d-flex">
              <div>
                <p>Time (min):</p>
                <input type="number" name="time" class="examtime" min="1" step="1" value="{{ course.time }}" required><br/>
              </div>
              <div class="ml-2">
                <p>Show Score after Submit?</p>
                <input type="checkbox" name="show" onclick="checkshow()" id="check" {% if course.show %}checked{% endif %}>
              </div>
            </div>
		    		<button class="btn btn-default">Save</button>
		    	</form>
		    </div>
		    </div>


        </div>

    </div>
    
    

    </div><!-- kt-mainpanel -->

 <script type="text/javascript">
 	function checkshow(){
    if(document.getElementById('check').checked == true){
      document.getElementById('submitdes').required=false;
      document.getElementById('submitdes').disabled=true;
    }else{
      document.getElementById('submitdes').required=true;
      document.getElementById('submitdes').disabled=false;
    }
  }
 	elements = document.getElementsByClassName('realc');
 	const hs = [];
 	for (var i = elements.length - 1; i >= 0; i--) {
 		hs.push(elements[i].offsetHeight);
 	}
 	const max = hs.reduce((a, b) => Math.max(a, b));
 	for (var i = elements.length - 1; i >= 0; i--) {
 		elements[i].style.height=max.toString()+'px';
 	}

 	function show(){
 		document.getElementById('preformdiv').style.display='none';
 		document.getElementById('formdiv').style.display='block';
 	}
 	function hide(){
 		document.getElementById('formdiv').style.display='none';
 		document.getElementById('preformdiv').style.display='block';
 	}

 </script>

{% endblock %}