{% extends 'base.html' %}
{% load static %}
{% load alltags %}

{% block title %}Test | Paper{% endblock title %}

{% block boot %}
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    {% endblock boot %}

{% block content %}
<style type="text/css">
  
.pinoverlay{
  height: 158px;
  width: 459px;
  position: fixed;
  top: calc(50vh - 58px);
  left: calc(50vw - 229.5px);
  background-color: white;
  z-index: 200;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(155, 155, 155, 0.4);
}
.overtitle{
  font-weight: bold;
  font-size: 12px;
  color: black;
}
#invis{
  display: none;
}
.passinput{
  width: 100px;
  background: #E3E3E3;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
  font-size: 25px;
  letter-spacing: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.passinput:focused{
  border: 1px solid #E3E3E3;
}
.acquireimg{
  width: 30%;
}  
.acquire{
  width: 30%;
  height: 50vh;
}
@media screen and (max-width: 700px){
  .pinoverlay{
    height: 135px;
    width: 306px;
    top: calc(50vh - 135px);
    left: calc(50vw - 153px);
  }
  .acquireimg{
    width: 50%;
  }
  .acquire{
    width: 50%;
    height: 30vh;
  }
}
</style>

    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
      
      <div class="kt-pagebody">

        <div class="card" style=" border-radius:10px;background-color:rgba(242, 242, 242, 1);">

        	<div class="kt-pagetitle" style="background-color:rgba(214, 211, 237, 1);color:rgba(35, 30, 84, 1); padding: 10px;">
            <div style="display:block;">
              <h5 style=" margin-left:50px;">{{ course.name }} </h5>
            <h5 style=" margin-left:50px; font-size: 16px; margin-top: 8px;">{{ student.name }} - Paper</h5>
            </div>
            
		    </div><!-- kt-pagetitle -->
		    <div class="cardbody  pd-20 pd-sm-40">
          <div class="d-flex prescore">
            <div style="height: 100%; flex-direction: column; justify-content: center;" class="d-flex">
              <span class="mr-4" style="font-size: 16px; color: black; font-weight: bold;">Score:</span>
            </div>
              
              <div class="scorediv">
                <span style="font-size: 18px; color: green;">{{ exam.getscore }}/<span style="font-size: 10px; color: black;">{{ exam.questionsNo }}</span></span>
              </div>
            </div>
          <div class="mb-5 text-right" style="width: 100%;"><a href="{% url 'user:deleteexam' course.id exam.id %}"><button class="btn btn-default" style="background-color: red; color: white !important; width: auto !important;">Delete Exam</button></a></div>
		    		{% for section in course.sections.all %}
              <h5>{{ section.name }}</h5>
              {% for question in section.questions.all %}
              <div class="mb-5">
                <div class="d-flex">
                  <span> #{{ forloop.counter }} </span><div style="display: block;" class="mx-1">{% autoescape off %}{{ question.question }}{% endautoescape %}</div><a href="{% url 'user:deleteQ' section.id question.id %}"><i class="fa fa-trash ml-3" style="color: red;"></i></a>
                </div>
                    {% if question.image != None and question.image != '' %}
                  <div class="mt-3 mb-3">
                    <img src="{{ question.image.url }}" style="max-width: 400px">
                  </div>
                  {% endif %}
                  <div class="ml-3">
                    {% for answer in question.options.all %}
                     <div class="mb-2">
                      <span class="unans {% checkans2 exam.id answer.id as checked %}{% if checked %}ans  {% checkcorrect question.id answer.id as rechecked %} {% if rechecked %} correctans {% endif %}  {% endif %}"><span class="mr-1">{% checklet forloop.counter %}.</span>  {{ answer }}</span>{% if answer.id == question.answer.id %}
                      <i class="fa fa-check" style="color: green;" ></i>{% endif %}
                    </div>
                    {% endfor %}
                  </div>   
              </div>
            {% endfor %}
                    {% if section.questions.all.count == 0 %}
                      <span style="font-size: 13px; color: rgb(190, 70, 70); font-weight: bold;">No Questions Set</span>
                    {% endif %}  
            {% endfor %}

         
		    </div>



        </div>

    </div>
    
    

    </div><!-- kt-mainpanel -->

{% endblock %}