{% extends 'base.html' %}
{% load static %}
{% load alltags %}

{% block title %}Test | Questions{% endblock title %}

{% block boot %}
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    {% endblock boot %}

{% block content %}
<style type="text/css">
  
.pinoverlay{
  height: 158px;
  width: 459px;
  position: fixed;
  top: calc(50vh - 58px);
  left: calc(50vw - 229.5px);
  background-color: white;
  z-index: 200;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(155, 155, 155, 0.4);
}
.overtitle{
  font-weight: bold;
  font-size: 12px;
  color: black;
}
#invis{
  display: none;
}
.passinput{
  width: 100px;
  background: #E3E3E3;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
  font-size: 25px;
  letter-spacing: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.passinput:focused{
  border: 1px solid #E3E3E3;
}
.acquireimg{
  width: 30%;
}  
.acquire{
  width: 30%;
  height: 50vh;
}
@media screen and (max-width: 700px){
  .pinoverlay{
    height: 135px;
    width: 306px;
    top: calc(50vh - 135px);
    left: calc(50vw - 153px);
  }
  .acquireimg{
    width: 50%;
  }
  .acquire{
    width: 50%;
    height: 30vh;
  }
}
</style>

    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
      
      <div class="kt-pagebody">

        <div class="card" style=" border-radius:10px;background-color:rgba(242, 242, 242, 1);">

        	<div class="kt-pagetitle" style="background-color:rgba(214, 211, 237, 1);color:rgba(35, 30, 84, 1);">
		        <h5 style=" margin-left:50px;">{{ section.name }} - Questions</h5>

		    </div><!-- kt-pagetitle -->
		    <div class="cardbody  pd-20 pd-sm-40">
          <div class="mb-5 text-right" style="width: 100%;"><a href="{% url 'user:deleteSection' section.id %}"><button class="btn btn-default" style="background-color: red; color: white !important; width: auto !important;">Delete Section</button></a></div>
		    		{% for question in questions %}
		    			<div class="mb-5">
                  <span> #{{ forloop.counter }} </span><span style="text-overflow: clip;">{{ question.question }}</span><a href="{% url 'user:deleteQ' section.id question.id %}"><i class="fa fa-trash ml-3" style="color: red;"></i></a><br/>
                  {% if question.image != None and question.image != '' %}
                  <div class="mt-3 mb-3">
                    <img src="{{ question.image.url }}" style="max-width: 400px">
                  </div>
                  {% endif %}
                  <div class="ml-3">
                    {% for answer in question.options.all %}
                     <div class="mb-2">
                      <span><span class="mr-1">{% checklet forloop.counter %}.</span>  {{ answer }}</span>{% if answer.id == question.answer.id %}
                      <i class="fa fa-check" style="color: green;" ></i>{% endif %}
                    </div>
                    {% endfor %}  
                  </div>   
              </div>
		    		{% endfor %}

            <div style="display: block">
              <form method="POST" class="Qform" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="mb-2" style="font-size: 18px; font-weight: bolder;">Add Question:</p>
                <textarea name="question" id="questionF"  required></textarea>
                <div id="custom-but">
                  <p class="mb-2" style="font-size: 16px; font-weight: bolder;">Add an Image:</p>
                        <img id="custom-img" src="" class="img-fluid" style="max-width: 400px">
                      </div>
                      <input type="file" name="image" accept="image/*" id="realbut" class="mb-2">
                          </div>
                <div class="mb-2 d-flex">
                  <span class="mb-2 firstspan">Add Options:</span><span class="mb-2 secondspan">Select Answer:</span>
                </div>
                <div style="width: 100%;" class="d-flex">
                  <div class="ansFD d-flex">
                    <span class="lets">A.</span><input type="text" name="answer1" class="ansF" required>
                  </div>
                  <input class="ansrad" value="1" type="radio" name="answer" required>
                </div>
                <div style="width: 100%;" class="d-flex">
                  <div class="ansFD d-flex">
                    <span class="lets">B.</span><input type="text" name="answer2" class="ansF" required>
                  </div>
                  <input class="ansrad" value="2" type="radio" name="answer" required>
                </div>
                <div style="width: 100%;" class="d-flex">
                  <div class="ansFD d-flex">
                    <span class="lets">C.</span><input type="text" name="answer3" class="ansF" required>
                  </div>
                  <input class="ansrad" value="3" type="radio" name="answer" required>
                </div>
                <div style="width: 100%;" class="d-flex">
                  <div class="ansFD d-flex">
                    <span class="lets">D.</span><input type="text" name="answer4" class="ansF" required>
                  </div>
                  <input class="ansrad" value="4" type="radio" name="answer" required>
                </div>
                <button class="btn btn-default">save</button>
              </form>
            </div>
		    </div>



        </div>

    </div>
    
    

    </div><!-- kt-mainpanel -->

<script type="text/javascript">
  var element = document.querySelector('.Qform');
  element.scrollIntoView();

    document.getElementById('realbut').onchange = evt => {
    const [file] = document.getElementById('realbut').files;
    if(file){
      document.getElementById('custom-img').src= URL.createObjectURL(file)
    }
  }

</script>

{% endblock %}